body {
    background-color: #f7f2f2 !important;
}

.about {
    width: 65%;
    padding-top: 5vh;
}

.about h1 {
    font-size: 4rem;
    font-weight: bold;
}

.text {
    /* width: 65%; */
    padding-top: 5vh;
    font-size: 2rem;
}

.pimg {
    background-image: url("../../../../public/imgs/profile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    border: solid 5px #1371c9;
}