body {
    background-color: #f7f2f2 !important;
 
}
 
.bg {
    background-image: url(../../imgs/herobg-ecbfddc8.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* width: 100vw; */
 
}

.home {
    width: 65%;
    padding-top: 5vh;
}

.home h1 {
    color: #fff;
    font-size: 4rem;
    padding-bottom: 5vh;
    font-weight: bold;
}

.home p {
    color: #fff;
    font-size: 2rem;
}

/* .text {
    padding-top: 5vh;
} */

.pimg {
    background-image: url("../../../../public/imgs/profile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    border: solid 5px #1371c9;
}