body {
    background-color: #4d9ce6 !important;
 
}
 
.bg {
    background-image: url(../../../../public/imgs/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
}

.home {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5vh;
}

.home h1 {
    color: #fff;
    font-size: 8vh;
    padding-bottom: 5vh;
    font-weight: bold;
}

.home p {
    color: #fff;
    font-size: 4vh;
}
 
@media (max-width: 576px) {
    .home h1 {
        color: #fff;
        font-size: 6vh;
        padding-bottom: 3vh;
        font-weight: bold;
    } 

    .home p {
        color: #fff;
        font-size: 2vh;
    }
}